
/*header {
  background-color: #4267b2;
  height: 30px;
  margin-bottom: 16px;
}*/

/*footer {
  background-color: rgba(0,0,0,0.87);
  height: 30px;
  margin-top: 16px;
}*/

#wrapper {
  margin-bottom: 16px;
}

#main,
#menu,
#sidebar {
  height: 650px;
  background-color: #e9ebee;
  }

#header {
    background-color: #3b5998;
    color: white;
    height:42px;
  }

.white-text {
  color: white !important;
}

#header ul .glyphicon {
  font-size: 20px;
  }

.displayPhoto{
  display: inline-block;
  margin-top: 7px;

}

.input-group .search {
  color: #4e5665;

}

.list-heading {
  padding: 20px 15px 0 15px;
  color: #5e5e5e;
  font-weight: bold;
}

.panel-body .glyphicon {
  margin-left: 10px;
  margin-right: 4px;
}

.text-post {
  margin-bottom: 15px;
  margin-top: 0;
  font-size: 18px;
  color: #464646;
  line-height: 26px;
  text-align: justify;
  padding: 8px;
}

.panel-title .heading-text {
  font-size: 17px;
  font-weight: bold;
  color: #2f2f2f;
  text-decoration: none;
}
.image-post img {
  margin-bottom: 15px;
}

#main {
  overflow: auto;
}

#main::-webkit-scrollbar {
  display: none;
}

#sidebar {
  overflow: auto;
}

#sidebar::-webkit-scrollbar {
  display: none;
}

.presentation .glyphicon {
  margin-left: 10px;
  margin-right: 4px;
}

.panel-body .video {
  margin-bottom: 30px;
}
.comment {
    margin: 0;
}

.media {
  border-bottom: 1px solid #d0d0d0;
}
.badge-error {
  background-color: #b94a48;
}
.badge-error:hover {
  background-color: #953b39;
}

.badge-info {
  background-color: #3a87ad;
}
.badge-info:hover {
  background-color: #2d6987;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning:hover {
  background-color: #c67605;
}

.navbar-form .widthlg {
  width: 400px;
}

.list-group-item.active, .color-change{
  background-color: #3b5998;
  border-color: #3b5998;
}
.list-group-item.active:hover, .color-change{
  background-color: #2b4376;
  border-color: #2b4376;
}

#menu a {
  color: #3b5998;
}

footer a {
  color: #3b5998;
}

.nav-tabs>li>a {
  margin: 0;
  line-height: normal;
  border: none;
}

button.btn.btn-primary.btn-block {
  height: 50px;
  margin-top: -60px;
  font-size: 20px;
  background-color: #3b5998;
}

button.btn.btn-primary.btn-block:hover {
  height: 50px;
  margin-top: -60px;
  font-size: 20px;
  background-color: #2b4376;
}

.nav.nav-pills.pull-left {
  font-size: 11px;
}
